<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RepoGraph</title>
  <link rel="stylesheet" th:href="@{/vendor/fonts/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/repograph.css}">
  <link rel="stylesheet" th:href="@{/css/agent-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/graph-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/stats-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/vulns-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/index-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/tools-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/symbol-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/sbom-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/metrics-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/benchmark-workbench.css}">
  <link rel="stylesheet" th:href="@{/css/health-workbench.css}">
  <style>[x-cloak]{display:none!important}</style>
</head>
</html>
